{{!
    vim: et ts=2 sts=2 sw=2 syntax=mustache
    @template: local_cdo_unti2035bas/factdef_edit_control
}}
<div id="container-factdef-edit-add-ext-form-{{factdefid}}"></div>
{{#js}}
require(['local_cdo_unti2035bas/factdef_edit_control'], function(CTL) {
  new CTL({{factdefid}}, "{{tableid}}");
});
{{/js}}
