{{!
    vim: et ts=2 sts=2 sw=2 syntax=mustache
    @template: local_cdo_unti2035bas/stream_fdlist_control
}}
<div id="container-stream-fdlist-form-{{streamid}}"></div>
{{#js}}
require(['local_cdo_unti2035bas/stream_fdlist_control'], function(CTL) {
  new CTL({{streamid}}, "{{tableid}}");
});
{{/js}}
