<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">{{#str}} discipline, local_cdo_academic_progress {{/str}}</th>
        <th scope="col">{{#str}} date_control, local_cdo_academic_progress {{/str}}</th>
        <th scope="col">{{#str}} type_control, local_cdo_academic_progress {{/str}}</th>
        <th scope="col">{{#str}} mark, local_cdo_academic_progress {{/str}}</th>
        <th scope="col">{{#str}} retake, local_cdo_academic_progress {{/str}}</th>
        <th scope="col">{{#str}} teacher, local_cdo_academic_progress {{/str}}</th>
        {{#use_brs}}
            <th scope="col">{{#str}} grade_semester, local_cdo_academic_progress {{/str}}</th>
            <th scope="col">{{#str}} grade_control, local_cdo_academic_progress {{/str}}</th>
            <th scope="col">{{#str}} grade_all, local_cdo_academic_progress {{/str}}</th>
        {{/use_brs}}
        {{#have_course_works}}
            <th scope="col">{{#str}} course_work, local_cdo_academic_progress {{/str}}</th>
            <th scope="col">{{#str}} semester, local_cdo_academic_progress {{/str}}</th>
        {{/have_course_works}}
        {{#show_surveys}}
            <th scope="col">{{#str}} surveys, local_cdo_academic_progress {{/str}}</th>
        {{/show_surveys}}
        {{#show_groups}}
            <th scope="col">{{#str}} surveys, local_cdo_academic_progress {{/str}}</th>
        {{/show_groups}}
    </tr>
    </thead>
    <tbody>
    {{#attestation}}
        <tr>
            <td>{{discipline.name}}</td>
            <td>{{date}}</td>
            <td>{{type_control}}</td>
            <td>{{mark}}</td>
            <td>
                {{#retake}}
                    {{#pix}} t/check, core {{/pix}}
                {{/retake}}
            </td>
            <td>
                {{#teacher}}
                    {{name}} <br/>
                {{/teacher}}
            </td>
            {{#use_brs}}
                <td>{{grade_semester}}</td>
                <td>{{grade_control}}</td>
                <td>{{grade_all}}</td>
            {{/use_brs}}
            {{#have_course_works}}
                <td>{{course_work}}</td>
                <td>{{semester}}</td>
            {{/have_course_works}}
            {{#show_surveys}}
                <td>

                    <a href="/local/cdo_education_scoring/index.php?discipline={{discipline.id}}
                    &discipline_name={{discipline.name}}">
                    {{#str}} student_survey_link, local_cdo_academic_progress {{/str}}
                    </a>
                </td>
            {{/show_surveys}}
            {{#show_groups}}
                <td>
                    {{#already_send}}
                        <a href="/local/cdo_ok/survey.php?discipline={{discipline.id}}
                        &discipline_name={{discipline.name}}&group_tab=0">
                        {{#str}} student_survey_link, local_cdo_academic_progress {{/str}}
                        </a>
                    {{/already_send}}
                </td>
            {{/show_groups}}

        </tr>

    {{/attestation}}
    </tbody>
</table>