<div class="">
    <div class="row">
        <div class="col-6 font-weight-bold border border-dark">Выпускная квалификационная работа</div>
        <div class="col-6 font-weight-bold border border-dark">Решением Государственной экзаменационной комиссии</div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark ">
            Форма выпускной квалификационной работы
        </div>
        <div class="col-4 border border-dark">
            {{type}}
        </div>
        <div class="col-1 border border-dark">
            от
        </div>
        <div class="col-2 border border-dark">
            {{date_protocol_gak}}
        </div>
        <div class="col-1 border border-dark">
            протокол №
        </div>
        <div class="col-2 border border-dark">
            {{number_protocoal_gak}}
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark ">
            Тема выпускной квалификационной работы
        </div>
        <div class="col-4 border border-dark">
            {{theme}}
        </div>
        <div class="col-2 border border-dark">
            Студенту
        </div>
        <div class="col-4 border border-dark">
            {{fio}}
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark ">
            Руководитель
        </div>
        <div class="col-4 border border-dark">
            {{manager}}
        </div>
        <div class="col-2 border border-dark">
            Присвоена квалификация
        </div>
        <div class="col-4 border border-dark">
            {{qualification}}
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark ">
            Дата защиты
        </div>
        <div class="col-4 border border-dark">

        </div>
        <div class="col-2 border border-dark">
            Председатель
        </div>
        <div class="col-4 border border-dark">
            {{chairman}}
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark ">
            Оценка
        </div>
        <div class="col-4 border border-dark">

        </div>
        <div class="col-2 border border-dark">
            Члены комиссии
        </div>
        <div class="col-4 border border-dark">
            {{secretary}}
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark ">

        </div>
        <div class="col-4 border border-dark">

        </div>
        <div class="col-2 border border-dark">

        </div>
        <div class="col-4 border border-dark">

        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark ">
            Председатель
        </div>
        <div class="col-4 border border-dark">

        </div>
        <div class="col-1 border border-dark">
            Выдан диплом
        </div>
        <div class="col-1 border border-dark">
            {{serial_diplom}}
        </div>
        <div class="col-1 border border-dark">
            №
        </div>
        <div class="col-1 border border-dark">
            {{number_diplom}}
        </div>
        <div class="col-1 border border-dark">
            от
        </div>
        <div class="col-1 border border-dark">
            {{date_diplom_issued}}
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark ">
            Члены комиссии
        </div>
        <div class="col-4 border border-dark">

        </div>
        <div class="col-2 border border-dark">
            Руководитель структурного подразделения
        </div>
        <div class="col-4 border border-dark">
            {{dean}}
        </div>
    </div>

</div>