/*
  >>>Get The Caoching Styling Start
*/

#getcoaching {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  padding: 0;
  padding-top: 3em;
  h2 {
    color: $white;
    font-size: 2.8em;
    line-height: 1em;
    letter-spacing: 1px;
    letter-spacing: normal;
    span {
      color: #afafaf;
    }
  }
  a.btn {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: $white;
    font-size: 1.2em;
    margin-left: 0;
    &:hover {
      background-color: transparent;
      color: #1bb4b9;
    }
  }
  h5 {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 20px;
    color: #eee;
    letter-spacing: normal;
  }
  .getcoachingtext-con {
    margin-left: 2em;
    margin-top: 130px;
    margin-bottom: 2em;
    text-align: center;
  }
  .meet {
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #1bb4b9;
    position: relative;
    vertical-align: middle;
  }
  .meet::before,
  .meet::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .draw {
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
  }
  .draw::before,
  .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  .draw::before {
    top: 0;
    left: 0;
  }
  .draw::after {
    bottom: 0;
    right: 0;
  }
  .draw:hover::before,
  .draw:hover::after {
    width: 100%;
    height: 100%;
  }
  .draw:hover::before {
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }
  .draw:hover::after {
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }
  .meet::after {
    top: 0;
    left: 0;
  }
  .meet:hover::before {
    border-top-color: #fff;
    border-right-color: #fff;
  }
  .meet:hover::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
    -webkit-transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
    transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  }
}


/*
  >>>Get The Caoching Styling End
*/