/*
  >>>Number Styling Start
*/

.numbers {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 4em 0;
  text-align: center;
  h1 {
    font-family: "open_sansbold";
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
    span {
      font-family: "open_sanslight";
    }
  }
  .numbers-counter {
    margin-top: 3em;
    display: flex;
    .image-counter {
      display: inline-block;
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }
    .text-con {
      margin-top: 20px;
      text-align: left;
    }
    span.counter {
      display: block;
      font-size: 2em;
      font-weight: bold;
      color: #fff;
    }
    span.count-info {
      display: block;
      font-size: 1em;
      color: #000;
      margin-top: 8px;
      font-weight: bold;
    }
  }
}


/*
  >>>Number Styling End
*/