/*! http://responsiveslides.com v1.55 by @viljamis */

#banner-wrapper {
    overflow: hidden;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.callbacks_container {
    position: relative;
    float: none;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.callbacks img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    text-shadow: none;
    top: 35%;
    margin: 0;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 67;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 60px;
    margin-top: -45px;
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

#slider3-pager {
    background-color: #111;
    text-align: center;
    margin: 0;
    margin-top: -74px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 70;
}

#slider3-pager li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    border: 2px solid #2d2d2d;
}

#slider3-pager li.callbacks_here {
    border: 2px solid #ccc;
}


/* For Mobile and Tab */

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .callbacks .caption {
        top: 5%;
        left: 5%;
    }
}

@media (max-width: 767px) {}

@media (max-width: 480px) {}

@media (max-width: 320px) {}


/* Custom CSS Settings
-------------------------*/