<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Предмет</th>
      <th scope="col">Часы</th>
      <th scope="col">Компонент</th>
    </tr>
    </thead>
    <tbody>
    {{#data}}
      <tr>
        <td>{{discipline}}</td>
        <td>{{hours}}</td>
        <td>{{section}}</td>
      </tr>
    {{/data}}
    </tbody>
  </table>

</div>