<div class="container">
    <h2>{{open_course_heading}}</h2>
    <div class="row">
        {{#courses}}
        <div class="col-md-3">
            {{> core_course/course_box }}
        </div>
        {{/courses }}
    </div>
</div>