/* Убираем старую тень */
/* .block_cdo_notification .custom-shadow-br { */
/*  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
/* } */

/* Стили для элементов управления каруселью */
.block_cdo_notification #cdoNotificationCarousel .carousel-control-prev-icon,
.block_cdo_notification #cdoNotificationCarousel .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачный черный фон */
  border-radius: 50%; /* Делаем фон круглым */
  padding: 10px; /* Отступы внутри фона */
}

.block_cdo_notification #cdoNotificationCarousel .carousel-control-prev,
.block_cdo_notification #cdoNotificationCarousel .carousel-control-next {
  width: 5%; /* Уменьшаем ширину области клика */
}

/* Стили для индикаторов карусели */
.block_cdo_notification #cdoNotificationCarousel .carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5); /* Делаем индикаторы темнее */
}

.block_cdo_notification #cdoNotificationCarousel .carousel-indicators .active {
    background-color: rgba(0, 0, 0, 0.9); /* Активный индикатор еще темнее */
}