<table class="table table-striped">
    <tbody>
    <tr>
        <td>{{#str}} group, block_cdo_student_info {{/str}}</td>
        <td>{{cohort.name}}</td>
    </tr>
    <tr>
        <td>{{#str}} faculty, block_cdo_student_info {{/str}}</td>
        <td>{{faculty.name}}</td>
    </tr>
    <tr>
        <td>{{#str}} level_education, block_cdo_student_info {{/str}}</td>
        <td>{{level.name}}</td>
    </tr>
    <tr>
        <td>{{#str}} speciality, block_cdo_student_info {{/str}}</td>
        <td>{{speciality.name}}</td>
    </tr>
    <tr>
        <td>{{#str}} specialisation, block_cdo_student_info {{/str}}</td>
        <td>{{specialisation.name}}</td>
    </tr>
    <tr>
        <td>{{#str}} education_form, block_cdo_student_info {{/str}}</td>
        <td>{{education_form.name}}</td>
    </tr>
    <tr>
        <td>{{#str}} tuition_fee, block_cdo_student_info {{/str}}</td>
        <td>{{tuition_fee.name}}</td>
    </tr>
    </tbody>
</table>