<style type="text/css">
    * {
        font-family: freeserif;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
</style>
<h1>АННОТАЦИЯ<br>РАБОЧЕЙ ПРОГРАММЫ ДИСЦИПЛИНЫ</h1>
<h2>«%DISCIPLINE%»</h2>
<hr>
<div style="text-align: center;"><b>по направлению/специальности %DIRECTION%</b></div>
<h2>1. Цели и задачи освоения дисциплины</h2>
<div style="text-align: justify">
    Цели освоения дисциплины:
    %TARGETS%
    Задачи освоения дисциплины:
    %TASKS%
</div>
<h2>2. Место дисциплины в структуре ОПОП ВО</h2>
<p style="text-align: justify">Дисциплина «%DISCIPLINE%» относится к числу дисциплин блока %DBLOCK%, предназначенного для студентов, обучающихся по направлению: %DIRECTION%.<br>
    Для успешного изучения дисциплины необходимы знания и умения, приобретённые в результате освоения курсов %PRECOURSES% и полностью или частично сформированные компетенции %COMPS%.<br>
    Основные положения дисциплины используются в дальнейшем при изучении таких дисциплин как: %POSTCOURSES%.</p>
<h2>3. Требования к результатам освоения дисциплины</h2>
<div style="text-align: justify">
    Процесс изучения дисциплины направлен на формирование следующих компетенций:
    %ACOMPS%
    <br>
    <br>
    В результате изучения дисциплины студент должен:
    <br><b>знать:</b>
    %ANN31%
    <b>уметь:</b>
    %ANN32%
    <b>владеть:</b>
    %ANN33%
    <h2>4. Общая трудоемкость дисциплины</h2>
    <div>Общая трудоемкость дисциплины составляет %ZET% зачетных %EDINICA% (%HOURS%).</div>
    <h2>5. Образовательные технологии</h2>
    %ANN51%
    <br>
    %ANN52%
    <h2>6. Контроль успеваемости</h2>
    Программой дисциплины предусмотрены следующие виды текущего контроля: %form_annotation_control% .
    Промежуточная аттестация проводится в форме: %CONTROL%.
</div>