<div class="approved">
	<table>
		<tr>
			<td width="50%"></td>
			<td width="50%">
				<div style="font-weight: bold;">УТВЕРЖДЕНО</div>
				<div>решением Ученого совета %FACULTY%<br>
					от %council_date%г., протокол №%council_number%<br>
					Председатель ________________________________
					«______» _______________________ 20_________г.
				</div>
			</td>
		</tr>
	</table>
</div>
<h1>ФОНД ОЦЕНОЧНЫХ СРЕДСТВ (ФОС)</h1>
<div>
	<table>
		<tr>
			<td style="width: 30%">Дисциплина</td><td style="width: 70%"><b>%DISCIPLINE%</b></td>
		</tr>
		<tr>
			<td>Факультет</td><td>%FACULTY_TABLE%</td>
		</tr>
		<tr>
			<td>Кафедра</td><td>%CHAIR%</td>
		</tr>
		<tr>
			<td>Курс</td><td>%COURSE%</td>
		</tr>
	</table>
	<div><br>Направление (специальность): <u>%DIRECTION%</u><br>
		Направленность (профиль/специализация): <u>%PROFILE%</u></div>
	Форма обучения: <u>%FORMS%</u><br>
	Дата введения в учебный процесс УлГУ: 01.09.%STARTYEAR% г.<br>
	ФОС актуализирован на заседании кафедры: протокол №_____ от _______ 20___г.<br>
	ФОС актуализирован на заседании кафедры: протокол №_____ от _______ 20___г.<br>
	ФОС актуализирован на заседании кафедры: протокол №_____ от _______ 20___г.<br>
	<div>Сведения о разработчиках:</div>
	<table>
		<tr>
			<td style="width: 33%">ФИО</td><td style="width: 34%">КАФЕДРА</td><td style="width: 33%">Должность, ученая степень, звание</td>
		</tr>
		%DEVELOPERS%
	</table>
	<div>
		<br>
		<!--<table style="text-align: center">
			<thead>
			<tr>
				<th style="font-weight: bold;">СОГЛАСОВАНО</th>
				<th style="font-weight: bold;">СОГЛАСОВАНО</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Заведующий кафедрой,<br>реализующей дисциплину</td>
				<td>Заведующий выпускающей кафедрой</td>
			</tr>
			<tr>
				<td>
					<br>
					<div>
						____________________/_________________________/<br>
						<span><i>Подпись</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span><i>расшифровка подписи</i></span>
					</div>
					<div>«______»____________________20___г.</div>
				</td>
				<td>
					<br>
					<div>
						____________________/_________________________/<br>
						<span><i>Подпись</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span><i>расшифровка подписи</i></span>
					</div>
					<div>«______»____________________20___г.</div>
				</td>
			</tr>
			</tbody>
		</table>-->
	</div>
</div>
%NEWPAGE%
<h2>1. ПЕРЕЧЕНЬ КОМПЕТЕНЦИЙ ПО ДИСЦИПЛИНЕ ДЛЯ ОБУЧАЮЩИХСЯ ПО НАПРАВЛЕНИЮ ПОДГОТОВКИ/СПЕЦИАЛЬНОСТИ С УКАЗАНИЕМ ЭТАПОВ ИХ ФОРМИРОВАНИЯ В ПРОЦЕССЕ ОСВОЕНИЯ ОПОП</h2>
%FOS1%
<h2>2. ТРЕБОВАНИЯ К РЕЗУЛЬТАТАМ ОСВОЕНИЯ ДИСЦИПЛИНЫ (МОДУЛЯ)</h2>
<table>
	<thead>
	<tr style="font-weight: bold; background-color: lightgray;">
		<th width="10%" rowspan="2">№ п/п</th>
		<th width="10%" rowspan="2">Индекс компетенции</th>
		<th width="30%" rowspan="2">Содержание компетенции (или ее части)</th>
		<th width="50%" colspan="3">Перечень планируемых результатов обучения по дисциплине (модулю), соотнесенных с индикаторами достижения компетенций</th>
	</tr>
	<tr style="font-weight: bold; background-color: lightgray;">
		<th width="17%">знать</th>
		<th width="17%">уметь</th>
		<th width="16%">владеть</th>
	</tr>
	</thead>
	<tbody>
	%FOS2%
	</tbody>
</table>
<h2>3. ПАСПОРТ ФОНДА ОЦЕНОЧНЫХ СРЕДСТВ ПО ДИСЦИПЛИНЕ</h2>
<table>
	<thead>
	<tr style="font-weight: bold; background-color: lightgray;">
		<th width="10%" rowspan="2">№ п/п</th>
		<th width="17%" rowspan="2">Контролируемые модули/разделы/темы дисциплины</th>
		<th width="18%" rowspan="2">Индекс контролируемой компетенции (или её части)</th>
		<th width="40%" colspan="2">Оценочные средства</th>
		<th width="15%" rowspan="2">Технология оценки (способ контроля)</th>
	</tr>
	<tr style="font-weight: bold; background-color: lightgray;">
		<th width="28%">наименование</th>
		<th width="12%">№№ заданий</th>
	</tr>
	</thead>
	<tbody>
	%FOS3%
	</tbody>
</table>
<h2>4. ОЦЕНОЧНЫЕ СРЕДСТВА ДЛЯ ТЕКУЩЕГО КОНТРОЛЯ И ПРОМЕЖУТОЧНОЙ АТТЕСТАЦИИ, КОНТРОЛЯ САМОСТОЯТЕЛЬНОЙ РАБОТЫ ОБУЧАЮЩИХСЯ</h2>
<p style="text-align: center; font-style: italic;">(включая экзаменационные вопросы, вопросы к зачету, задачи (задания), тесты и другие виды контроля, интерактивные занятия, осуществляемые в процессе изучения дисциплины (модуля))<br>
	Нумерация оценочных средств вне зависимости от их вида – сквозная.</p>
%FOS4%
<br><br>
<table style="border:0 solid transparent;">
	<tbody>
	%TABLE_DEVELOPERS%
	</tbody>
</table>
