<style type="text/css">
    table, tr, td {
        border: 1px solid gray; 
        border-collapse: collapse;
        text-align: center;
        font-size: 10px;
    }

    img {
        width: 30px;
    }
</style>
<table>
    <tr>
        <td style="width: 60%;">Министерство науки и высшего образования РФ<br>МЕЛИТОПОЛЬСКИЙ ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ</td>
        <td style="width: 30%;">Форма</td>
        <td rowspan="2" class="logo" style="width: 10%;"><img style="line-height: 1px;" src="templates/logo.svg"></td>
    </tr>
    <tr>
        <td>Ф – %TYPE%</td>
        <td></td>
    </tr>
</table>
