<div class="approved">
	<table>
		<tr>
			<td width="50%"></td>
			<td width="50%">
				<div style="font-weight: bold;">УТВЕРЖДЕНО</div>
				<div>решением Ученого совета %FACULTY%<br>
					от %council_date%г., протокол №%council_number%<br>
					Председатель ________________________________
					«______» _______________________ 20_________г.
				</div>
			</td>
		</tr>
	</table>
</div>
<h1>РАБОЧАЯ ПРОГРАММА ДИСЦИПЛИНЫ</h1>
<div>
	<table>
		<tr>
			<td style="width: 30%">Дисциплина</td><td style="width: 70%"><b>%DISCIPLINE%</b></td>
		</tr>
		<tr>
			<td>Факультет</td><td>%FACULTY_TABLE%</td>
		</tr>
		<tr>
			<td>Кафедра</td><td>%CHAIR%</td>
		</tr>
		<tr>
			<td>Курс</td><td>%COURSE%</td>
		</tr>
	</table>
	<div><br>Направление (специальность): <u>%DIRECTION%</u><br>
		Направленность (профиль/специализация): <u>%PROFILE%</u></div>
	Форма обучения: <u>%FORMS%</u><br>
	Дата введения в учебный процесс: 01.09.%STARTYEAR% г.<br>
	Программа актуализирована на заседании кафедры: протокол №_____ от _______ 20___г.<br>
	Программа актуализирована на заседании кафедры: протокол №_____ от _______ 20___г.<br>
	Программа актуализирована на заседании кафедры: протокол №_____ от _______ 20___г.<br>
	<div>Сведения о разработчиках:<br></div>
	<table>
		<tr>
			<td style="width: 33%">ФИО</td><td style="width: 34%">КАФЕДРА</td><td style="width: 33%">Должность, ученая степень, звание</td>
		</tr>
		%DEVELOPERS%
	</table>
	<div>
		<br>
		<!--<table style="text-align: center">
			<thead>
			<tr>
				<th style="font-weight: bold;">СОГЛАСОВАНО</th>
				<th style="font-weight: bold;">СОГЛАСОВАНО</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Заведующий кафедрой,<br>реализующей дисциплину</td>
				<td>Заведующий выпускающей кафедрой</td>
			</tr>
			<tr>
				<td>
					<br>
					<div>
						____________________/_________________________/<br>
						<span><i>Подпись</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span><i>расшифровка подписи</i></span>
					</div>
					<div>«______»____________________20___г.</div>
				</td>
				<td>
					<br>
					<div>
						____________________/_________________________/<br>
						<span><i>Подпись</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span><i>расшифровка подписи</i></span>
					</div>
					<div>«______»____________________20___г.</div>
				</td>
			</tr>
			</tbody>
		</table>-->
	</div>
</div>
%NEWPAGE%
<h2>1. ЦЕЛИ И ЗАДАЧИ ОСВОЕНИЯ ДИСЦИПЛИНЫ</h2>
<div style="text-align: justify">
	<b>Цели освоения дисциплины:</b>
	%TARGETS%
	<b>Задачи освоения дисциплины:</b>
	%TASKS%
</div>
<h2>2. МЕСТО ДИСЦИПЛИНЫ В СТРУКТУРЕ ОПОП</h2>
<p style="text-align: justify">Дисциплина «%DISCIPLINE%» относится к числу дисциплин блока %DBLOCK%, предназначенного для студентов, обучающихся по направлению: %DIRECTION%.<br>
	В процессе изучения дисциплины формируются компетенции: <!--Для успешного изучения дисциплины необходимы знания и умения, приобретённые в результате освоения курсов %PRECOURSES% и полностью или частично сформированные компетенции-->%COMPS%.<br>
	Основные положения дисциплины используются в дальнейшем при изучении таких дисциплин как: %POSTCOURSES%.</p>
<h2>3. ПЕРЕЧЕНЬ ПЛАНИРУЕМЫХ РЕЗУЛЬТАТОВ ОБУЧЕНИЯ ПО ДИСЦИПЛИНЕ, СООТНЕСЕННЫХ С ПЛАНИРУЕМЫМИ РЕЗУЛЬТАТАМИ ОСВОЕНИЯ ОСНОВНОЙ ПРОФЕССИОНАЛЬНОЙ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ</h2>
<table class="t3">
	<thead>
	<tr style="font-weight: bold; background-color: lightgray;">
		<th>Код и наименование реализуемой компетенции</th>
		<th style='text-align: justify'>Перечень планируемых результатов обучения по дисциплине (модулю), соотнесенных с индикаторами достижения компетенций</th>
	</tr>
	</thead>
	<tbody>
	%TABLE3%
	</tbody>
</table>
<h2>4. ОБЩАЯ ТРУДОЕМКОСТЬ ДИСЦИПЛИНЫ</h2>
<h3>4.1. Объем дисциплины в зачетных единицах (всего): %ZET%</h3>
<h3>4.2. Объем дисциплины по видам учебной работы (в часах): %HOURS%</h3>
%TABLE42%

%TABLE43%

<h2>5. СОДЕРЖАНИЕ ДИСЦИПЛИНЫ</h2>
<div style="text-align: justify">
	%PART5%
</div>
<h2>6. ТЕМЫ ПРАКТИЧЕСКИХ И СЕМИНАРСКИХ ЗАНЯТИЙ</h2>
<div style="text-align: justify">
	%PRACTICE_TOPICS%
</div>
<h2>7. ЛАБОРАТОРНЫЕ РАБОТЫ, ПРАКТИКУМЫ</h2>
<div style="text-align: justify">%CREDCRIT%</div>
<h2>8. ТЕМАТИКА КУРСОВЫХ, КОНТРОЛЬНЫХ РАБОТ, РЕФЕРАТОВ</h2>
<div style="text-align: justify">%REFERATS%</div>
<h2>9. ПЕРЕЧЕНЬ ВОПРОСОВ К %TITLE_EXAM_QUESTION%</h2>
<div style="text-align: justify">
	%EXAM_QUESTIONS%
	%QUESTIONS%
</div>
<h2>10. САМОСТОЯТЕЛЬНАЯ РАБОТА ОБУЧАЮЩИХСЯ</h2>
<div>
	<p><i>Содержание, требования, условия и порядок организации самостоятельной работы обучающихся с учетом формы обучения
		определяются в соответствии с «Положением об организации самостоятельной работы обучающихся», утвержденным Ученым
		советом УлГУ (протокол №8/268 от 26.03.2019г.).</i></p>
	<p><i>По каждой форме обучения: очная/заочная/очно-заочная заполняется отдельная таблица</i></p>
	%INDEPENDENT_WORK%
</div>
<h2>11. УЧЕБНО-МЕТОДИЧЕСКОЕ И ИНФОРМАЦИОННОЕ ОБЕСПЕЧЕНИЕ ДИСЦИПЛИНЫ</h2>
%global_lib%
<h2>12. МАТЕРИАЛЬНО-ТЕХНИЧЕСКОЕ ОБЕСПЕЧЕНИЕ ДИСЦИПЛИНЫ:</h2>
<p style="text-align: justify">
	Аудитории для проведения лекций, семинарских занятий, для выполнения лабораторных работ и практикумов, для проведения
	текущего контроля и промежуточной аттестации, курсового проектирования, групповых и индивидуальных консультаций <i>(выбрать необходимое)</i>
	<br>
	Аудитории укомлектованы специализированной мебелью, учебной доской. Аудитории для проведения лекций оборудованы мультимедийным оборудованием
	для представления информации большой аудитории. Помещения для самостоятельной работы оснащены компьютерный техникой с возможностью
	подключения к сети «Интернет» и обеспечением доступа к электронной информационно-образовательной среде, электронно-библиотечной системе.
	Перечень оборудования, используемого в учебном процессе:<br>
	- Мультимедийное оборудование: компьютер/ноутбук, экран, проектор/телевизор<br>
	- Компьютерная техника<br>
	%MTO_INVENTORY%
</p>
<h2>13. СПЕЦИАЛЬНЫЕ УСЛОВИЯ ДЛЯ ОБУЧАЮЩИХСЯ С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ</h2>
<p style="text-align: justify">
	В случае необходимости, обучающимся из числа лиц с ограниченными возможностями здоровья (по заявлению обучающегося)
	могут предлагаться одни из следующих вариантов восприятия информации с учетом их индивидуальных психофизических особенностей:<br>

	- для лиц с нарушениями зрения: в печатной форме увеличенным шрифтом; в форме электронного документа; в форме
	аудиофайла (перевод учебных материалов в аудиоформат); в печатной форме на языке Брайля; индивидуальные консультации
	с привлечением тифлосурдопереводчика; индивидуальные задания и консультации;<br>
	- для лиц с нарушениями слуха: в печатной форме; в форме электронного документа; видеоматериалы с субтитрами;
	индивидуальные консультации с привлечением сурдопереводчика; индивидуальные задания и консультации;<br>
	- для лиц с нарушениями опорно-двигательного аппарата: в печатной форме; в форме электронного документа;
	в форме аудиофайла; индивидуальные задания и консультации.<br>
	В случае необходимости использования в учебном процессе частично/исключительно дистанционных образовательных технологий,
	организация работы ППС с обучающимися с ОВЗ и инвалидами предусматривается в электронной информационно-образовательной
	среде с учетом их индивидуальных психофизических особенностей.
</p>
<br><br>
<table style="border:0 solid transparent;">
	<tbody>
	%TABLE_DEVELOPERS%
	</tbody>
</table>
