<style type="text/css">
    * {
        font-family: freeserif;
    }
	p {
		text-indent: 20px;
	}
    table, tr, td, th {
        border: 1px solid gray; 
        border-collapse: collapse;
        font-size: 12px;
        padding: 5px 10px;
    }
	th {
		background-color: lightgray;
		font-weight: bold;
	}
    h1 {
        text-align: center;
    }
    h2 {
        font-size: 14px;
        text-align: center;
    }
    h3 {
        font-size: 14px;
        text-align: center;
    }
    .approved {
        text-align: right;
        width: 400px;
        /*float: right;*/
    }
    .approved table, .approved table tr, .approved table tr td {
		border: none;
	}
    .clearfix {
        zoom: 1;
    }
    .clearfix:before,
    .clearfix:after {
        content: "";
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
	.pre {
		white-space: pre-line;
	}
</style>