{{#show_close}}
    <a href="#" class="btn btn-primary close-sheet-button" role="button" id="close-sheet-{{sheet_guid}}" data-sheet-guid="{{sheet_guid}}">
        {{#str}} close_sheet_close_button, local_cdo_certification_sheet {{/str}}
    </a>
{{/show_close}}
{{#show_reload}}
    <a href=""
       class="btn btn-warning"
       role="button"
       onclick="window.location.reload()"
    >
        {{#str}} close_sheet_reload_button, local_cdo_certification_sheet {{/str}}
    </a>
{{/show_reload}}