.busy_time_information {
    position: relative;
    padding: 0px 40px 20px 40px;
}
.busy_time_information .timeline {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
}
.busy_time_information .timeline .scale {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.busy_time_information .timeline .scale .hour {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.busy_time_information .timeline .scale .minute {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.busy_time_information .timeline .scale .marker {
    position: absolute;
    bottom: -35px;
    transform: rotate(-45deg);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}
.busy_time_information .timeline .busy_time .webinar_token {
    position: relative;
    height: 20px;
}
.busy_time_information .timeline .busy_time .webinar_token .webinar_event {
    position: absolute;
    height: 100%;
    background-color: rgba(103, 58, 183, 0.65);
    /*border: rgba(103, 58, 183, 0.85) solid;*/
    border-width: 0px 6px 0px 6px;
    box-sizing: border-box;
}
.busy_time_information .timeline .webinar_selected_range {
    position: absolute;
    top: 0;
    height: 100%;
    /*background-color: rgba(245, 34, 99, 0.65);*/
    /*border: rgba(245, 34, 99, 0.85) solid;*/
    pointer-events: none;
}
.busy_time_information .timeline #webinar_selected_range_free {
    background-color: rgba(83,194,99, 0.65);
    /*border: rgba(83,194,99, 0.85) solid;*/
    border-width: 0px 6px 0px 6px;
    box-sizing: border-box;
}
.busy_time_information .timeline #webinar_selected_range_busy {
    background-color: rgba(220, 53, 69, 0.65);
    /*border: rgba(220, 53, 69, 0.85) solid;*/
    border-width: 0px 6px 0px 6px;
    box-sizing: border-box;
}
.busy_time_information .timeline .busy_time .webinar_token .webinar_event:hover {
    background-color: rgba(103, 58, 183, 0.85);
}
.busy_time_information .timeline .busy_time .webinar_token .webinar_event:hover::before {
    position: absolute;
    /*top: 100%;*/
    bottom: 100%;
    left: 50%;
    padding: 5px;
    min-width: 100%;
    width: 250px;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(46, 46, 46, 1);
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    content: attr(data-info);
    white-space: pre-line;
}
.busy_time_information .legends {
    margin-top: 50px;
}
.busy_time_information .legends .legend_busy,
.busy_time_information .legends .legend_selected,
.busy_time_information .legends .legend_selected_desc {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.busy_time_information .legends .legend_busy .marker,
.busy_time_information .legends .legend_selected .marker,
.busy_time_information .legends .legend_selected_desc .marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%
}
.busy_time_information .legends .legend_busy .legend_label,
.busy_time_information .legends .legend_selected .legend_label,
.busy_time_information .legends .legend_selected_desc .legend_label {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.busy_time_information .legends .legend_selected_desc .legend_label_selected_desc {
    /*color: rgba(245, 34, 99, 0.65);*/
    padding: 1rem 5rem 1rem 2rem;
    background-color: rgba(83,194,99, 0.1);
    color: rgba(83,194,99, 1);
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.busy_time_information .error_message {
    padding: 1rem 5rem 1rem 2rem;
    background-color: rgba(248, 215, 218, 1);
    color: rgba(114, 28, 36, 1);
    border-radius: 5px;
    font-size: .875rem;
}
#show_selected_date {
    font-size: .875rem;
}
