<ul class="nav nav-tabs nav-justified" id="student_schedule" role="tablist">
    {{#schedule_student}}
        <li class="nav-item" role="presentation">
            <a
                    class="nav-link {{active}}"
                    id="{{order}}-tab"
                    data-toggle="tab"
                    href="#nav-{{order}}" role="tab"
                    aria-controls="{{order}}"
                    aria-selected="true">
                {{date}} | {{order_name}} | {{count_lessons}}
            </a>
        </li>
    {{/schedule_student}}
</ul>

<div class="tab-content" id="nav_tab_content_student_schedule">
    {{#schedule_student}}
        <div class="tab-pane fade {{show}} {{active}}" id="nav-{{order}}" role="tabpanel"
             aria-labelledby="ap{{order}}">
            {{> block_cdo_schedule/components/table_schedule}}
        </div>
    {{/schedule_student}}
</div>