<table class="table table-striped" id="teachers_schedule_table">
    <thead>
    <tr>
        <th scope="col">{{#str}} time, block_cdo_schedule {{/str}}</th>
        <th scope="col">{{#str}} place, block_cdo_schedule {{/str}}</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{#items}}
        <tr>
            <td>{{start_time}} - {{end_time}}</td>
            <td>{{#classrooms}} {{building.name}} {{room.name}} {{/classrooms}}<br/></td>
            <td>
                <div class="row">
                    <div class="col-12"><strong>{{lesson.lesson_type.name}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-12 b">{{lesson.discipline.name}}</div>
                </div>
                <div class="row">
                    <div class="col-12">{{#groups}} {{name}} <br />{{/groups}}</div>
                </div>
            </td>
          <td>
            {{{html_attendance_link}}}
          </td>
        </tr>
    {{/items}}
    </tbody>
</table>