* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 50px;
    font-size: 2rem;
    margin-bottom: 16px !important;
    text-align: center;
}

.WRAPPER {
    max-width: 1400px;
    margin: 0 auto;
}

.description-mainpage {
    text-align: center;
    font-size: 1.15rem;
    color: #4e4e4e;
    max-width: 720px;
    margin: 0 auto 20px;
}

.technical-library {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 70px;
}

.technical-library__item {
    display: block;
    position: relative;
    margin: 0 15px 30px;
    height: 220px;
    border-radius: 4px;
    overflow: hidden;
}

.technical-library__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.technical-library__bg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding: 0 25px;
    background-color: #4f4f4fd9;
    min-height: 60px;
}

.technical-library__name {
    font-size: 16px;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
}


.training-center {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.training-center__item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4 - 30px);
    border-radius: 4px;
    margin: 0 15px 30px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
@media screen and (max-width:1240px){
    .training-center__item {
        width: calc(100% / 4 - 30px);
    }
}
@media screen and (max-width:768px){
    .training-center__item {
        width: calc(100% / 3 - 30px);
    }
}
@media screen and (max-width:525px){
    .training-center__item {
        width: calc(100% / 1 - 30px);
    }
}
.training-center__header {
    width: 100%;
    height: 210px;
    position: relative;
}

.training-center__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    padding: 0 10px;
    background-color: #4f4f4fd9;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.training-center__name {
    font-size: 18px;
    color: #fff;
}

.training-center__body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-grow: 1;
}

.training-center__des {
    margin: 0 0 15px 0;
    padding: 0;
    color: #323232;
    flex-grow: 1;
    font-size: 15px;
}

.training-center__contact {
    display: flex;
    align-items: flex-start;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
    color: #323232;
}

.training-center__contact svg {
    margin-right: 7px;
    flex-shrink: 0;
}

.training-center__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cdo-card {
    margin: 0 auto;
    text-decoration: none;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: block;
    height: 100%;
    width: 100%;
}
.cdo-card:hover {
    box-shadow: 0px 0px 11px 1px #a7a7a7;
    borrder: none;
}
.cdo-card:hover .cdo-card__image-overlay{
    opacity: 0;
}
.cdo-card__image-container {
    position: relative;
    width: 100%;
    height: 210px;
}
.cdo-card__image-overlay {
    position: absolute;
    background-color: #00000073;
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 0.4s ease-in-out;
}
.cdo-card img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}
.cdo-card__body {
    padding: 15px;
}

*,
::before,
::after {
    box-sizing: border-box;
}


.slick-arrow {
    background-color: transparent;
    outline: none;
    border: none;
    color: #0642cd !important;
    cursor: popinter;
    position: absolute;
    bottom: 50%;
    z-index: 999;
    font-size: 18px;
}
.slick-arrow__prev {
    left: -15px;
}
.slick-arrow__next {
    right: -15px;
}

.slick-dots {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%);
}
.slick-dots button {
    display: flex;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #d3d3d3;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.slick-dots .slick-active button {
    background-color: #0642cd;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}