<div class="container" style="word-break: break-word;">
    <div class="row">
        <div class="col-sm-12">
            {{> block_cdo_student_info/components/table_student_info}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{> block_cdo_student_info/components/tab_grade_books}}
        </div>
    </div>
</div>